@import "../scss/mixins";
@import "../scss/colors";

.hero {
  @include flex(column, flex-start, center);
  background-color: #3f3f3f;
  background-image: linear-gradient(90deg, #3f3f3f 0%, #151515 100%);
  height: 34.375rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}

.hero__infoContainer {
  @include flex(column, center, center);
  position: relative;
}

.logo {
  margin-top: 3.75rem;
}

.hero__title {
  font-weight: 700;
  font-size: 2.5rem;
  color: $color-secondary;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero__button {
  @include flex(column, center, center);
  width: 13.125rem;
  height: 3rem;
  border-radius: 0.5rem;
  color: $color-tertiary;
  text-decoration: none;
  background-color: $color-primary;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 600;

  &:hover {
    background-color: $color-tertiary;
    color: $color-secondary;
    transition: all 0.25s ease-in-out;
  }
}

.hero__image {
  position: absolute;
  bottom: 0;
  width: 25.625rem;
}

.features {
  margin-top: 3.75rem;
  margin: 3.75rem 1.25rem 3.75rem 1.25rem;
}

.features__containerText {
  @include flex(column, center, center);
  margin-bottom: 3rem;
}

.features__title {
  font-weight: 400;
  font-size: 1.25rem;
  text-align: center;
  color: $color-quaternary;
  margin: 0;
}

.features__text {
  font-weight: 700;
  font-size: 1.875rem;
  text-align: center;
}

.features__icon {
  margin: 0 0.5625rem 0 0.5625rem;
}

.features__button {
  @include flex(column, center, center);
  width: 13.125rem;
  height: 3rem;
  border-radius: 0.5rem;
  color: $color-secondary;
  text-decoration: none;
  background-color: $color-tertiary;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  margin-top: 1.875rem;

  &:hover {
    background-color: $color-primary;
    color: $color-tertiary;
    transition: all 0.25s ease-in-out;
  }
}

.features__cardContainer {
  @include flex(column, center, center);
}

.features__card {
  @include flex(column, space-evenly, center);
  max-width: 23.75rem;
  width: 90%;
  height: 11rem;
  padding: 1rem;
  margin-bottom: 1.625rem;
  border-radius: 1.25rem;
  background-color: $color-secondary;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);

  &:hover {
    background-color: $color-tertiary;
    transition: all 0.25s ease-in-out;
  }
}

.nft {
  margin-top: 3.75rem;
  margin: 3.75rem 1.25rem 3.75rem 1.25rem;
}

.nft__infoContainer {
  @include flex(column, flex-start, center);
  background-color: $color-tertiary;
  border-radius: 2.5rem;
  margin-top: 2.875rem;
  height: 56.25rem;
  padding: 1.0625rem;
  overflow: hidden;
  position: relative;
}

.nft__textContainer {
  @include flex(column, flex-start, center);
  width: 100%;
}

.nft__textContent {
  @include flex(row, flex-start, center);
  width: 100%;
}

.nft__text {
  color: $color-secondary;
  font-size: 1.375rem;
  text-align: left;
  margin-left: 0.875rem;
}

.nft__buttonContainer {
  @include flex(column, center, center);
  width: 100%;
  margin: 2.5rem 0 2.5rem 0;
}

.nft__buttonOne {
  @include flex(column, center, center);
  background-color: $color-primary;
  text-decoration: none;
  color: $color-tertiary;
  text-align: center;
  max-width: 20rem;
  width: 92%;
  height: 3.75rem;
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
  border-radius: 0.5rem;
  border: solid 1px $color-tertiary;

  &:hover {
    background-color: $color-tertiary;
    color: $color-secondary;
    border: solid 1px $color-secondary;
    transition: all 0.25s ease-in-out;
  }
}

.nft__buttonTwo {
  @include flex(column, center, center);
  background-color: #2f2f2f;
  text-decoration: none;
  color: $color-secondary;
  text-align: center;
  max-width: 20rem;
  width: 92%;
  height: 3.75rem;
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
  border-radius: 0.5rem;
  border: solid 1px #2f2f2f;

  &:hover {
    background-color: $color-secondary;
    color: $color-tertiary;
    border: solid 1px $color-tertiary;
    transition: all 0.25s ease-in-out;
  }
}

.nft__image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.terms__container {
  @include flex(column, center, center);
  margin-bottom: 3.125rem;
}

.terms__text {
  font-weight: 400;
  font-size: 0.75rem;
  text-align: center;
  color: $color-quaternary;
}

.terms__conditions {
  font-weight: 400;
  font-size: 0.75rem;
  text-align: center;
  color: $color-quaternary;
}

.nft__title {
  font-weight: 700;
  font-size: 1.875rem;
  text-align: center;
}

.about {
  max-width: 1366px;
  margin: 3.125rem auto;
  padding: 0 1.25rem;
}

.about__container {
  @include flex(column, center, center);
  margin-top: 2.625rem;

  h3 {
    font-weight: 400;
    font-size: 0.75rem;
    text-align: center;
    color: $color-quaternary;
  }
}

@include tablet() {
  .hero {
    height: 63.6875rem;
    padding-left: 4.6875rem;
    padding-right: 4.6875rem;
    margin: 0 1.25rem;
  }

  .hero__infoContainer {
    @include flex(row, space-between, flex-start);
    margin-top: 2.625rem;
    width: 100%;
  }

  .hero__title {
    width: 100%;
    margin-top: 9.125rem;
    font-size: 3.125rem;
    position: absolute;
  }

  .logo {
    margin-top: 0;
  }

  .hero__image {
    width: 73.125rem;
  }

  .features {
    @include flex(row, space-between, flex-start);
    max-width: 1366px;
    margin: 10rem auto;
    padding: 0 1.25rem;
    gap: 2rem;
  }

  .features__cardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.25rem;
  }
  .features__containerText {
    @include flex(column, center, flex-start);
  }

  .features__text {
    font-size: 2rem;
    text-align: left;
    width: 80%;
  }

  .features__title {
    font-size: 1rem;
  }

  .features__card {
    width: 12.9rem;
    height: 9.25rem;
    margin-bottom: 0;
  }

  .nft {
    max-width: 1366px;
    margin: 3.125rem auto;
    padding: 0 1.25rem;
  }

  .nft__title {
    width: 80%;
    margin: 0 auto;
    font-size: 3rem;
  }

  .nft__infoContainer {
    @include flex(row, space-between, center);
    height: unset;
    width: unset;
    padding: 2rem;
  }

  .nft__buttonContainer {
    @include flex(row, center, center);
    margin-top: 1rem;
    margin-bottom: 0;
    gap: 1rem;
  }

  .nft__image {
    transform: translate(1, 0);
    position: relative;
  }

  .nft__buttonOne,
  .nft__buttonTwo {
    max-width: 15rem;
    width: 100%;
    font-size: 1rem;
  }

  .about__container {
    @include flex(row, center, center);
  }
}

